
.addnew-bar{
    padding: 20px 30px;
    border-radius: 10px;
    background-color: var(--bg-lightgrey);
    display: flex;
    justify-content: space-between;
}
.addnew-container{
  display:flex;
  justify-content: space-between;
  gap: 10px;

}
.addnew-container .title{
    
    font-size: 26px;
    font-weight: 500;
    color: var(--orange-clr);
}
.addnew-container .emp-title{
  font-size: 26px;
    font-weight: 600;
    color: var(----bs-gray);
}
.addnew-container .grthan-icon{
  color: var(--bs-greater-than);
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  /* padding-top: 9px; */
}
.addnew-bar button {
    padding: 10px 20px;
    align-items: center;
    color: white;
    background-color: var(--orange-clr);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
    font-weight:600;
  }
  .addnew-bar button:hover{
    background-color: #fd9f73;
  }
  .fa-arrow-left {
    margin-left: 2px; 
    /* font-size: 30px !important; */
    font-weight: 400 !important;
  }