
/* --------------------------------------------------
-----------Employee Data Table CSS------------------- 
-----------------------------------------------------*/


.mytable {
    border-collapse: collapse;
    background-color: var(--bg-lightgrey);
    width: 100%;
    
    border-radius: 20px !important ;
   
  }
  
  table thead{
    background-color: var(--blue-clr);
  }
  th{
    background-color: var(--table-hd);

  }
  
  table th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    
  }
  table thead tr:hover{ background-color:var(--blue-clr);}
  tr:hover {background-color: #c9edf8;}
  
  
  
  
  
  
 
  