.navbox-parent{
    /* padding: 30px 500px ; */
    padding-top: 30px;
    display: flex;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    gap: 10px;
}
.navbox-parent .navbox{
    width: 150px;
    height: 120px;
    display: flex;
    direction: column;
    border-radius: 15px;  
    background-image: linear-gradient(#96BAC6,#1997BE);
    color: var(--white);
    box-shadow: 0px 4px 6px 2px rgba(0, 0, 0, 0.25);
}
.navbox-parent .navbox.navboxafter{
    width: 170px;
    height: 140px;
} 
.navbox-parent .navbox .title{
    
    font-size: 20px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #fff;
    /* border:1px solid red;  */
}
.counts{  
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    display: flex;
    justify-content: center;     
}
 .counts.countsafter{  
    font-size: 60px;
    /* color: purple; */
}


.b{
    color: black;
    font-size: 60px;

}

.noLink{
    text-decoration: none;
}