.nav-bg{
    background-color: var(--blue-clr);
}
.header{
    padding-left: 100px;
    padding-right: 100px;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #FFFFFF !important;
}
.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    /* font-size: var(--bs-nav-link-font-size); */
    /* font-weight: var(--bs-nav-link-font-weight); */
    /* color: var(--bs-nav-link-color); */
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #FFFFFF !important;
    font-weight: 400 !important;
    font-size: 18px !important;
    
    
}
.nav-item{
    
}
.nav-card{
    border-radius: 20px;
    /* background-color: #242B32; */
    padding: 10px;;
    display: flex;
    /* flex-direction: column;
    align-items: center; */   
}
.nav-card .navcard-img{
    border-radius: 50px;
}
.nav-card .tmini-cont{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 10px;
    color: var(--white);
}

.tmini-cont .acc-title{
    margin-bottom:3px ;
    font-weight: 24px;
}
