
.form-parent{

  background-color: var(--bg-lightgrey);
  border-radius: 10px;
  
}
.addform{
    padding: 30px 250px;
}
.maindoc{
    display: flex;
    justify-content: space-between;
}
.mydoc{
    color: #3C4349;
    /* font-family: Inter; */
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.mybtn{
    padding: 10px 22px;
    border: none;
    text-align:center;
    font-size: 16px;
    color: var(--white);
    border-radius: 8px;
    background: #1997BE;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.35);
}

