
.position{
    padding: 20px 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.position .title{
    
    font-size: 26px;
    font-weight: 500;
}

.search-container {
    display: flex;
  }
  .search-input {
    padding: 8px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    align-items: left;
    width: 350px;
  }

  .add-button {
    padding: 10px 20px;
    align-items: center;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight:600;
  }
