 body {
  margin: 0;
  padding: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
:root{
  --white: #FFFFFF;
  --blue-clr : #1997BE;
  --bs-gray: #666262;
  --bg-lightgrey: #F2F5F7;
  --orange-clr: #FC8955;
  --bg-green: #5FCF5C; 
  --bs-sky: #F4F6F8;
  --dark-gray: #8D8888;

  
  --bs-breakpoint-xs: 0;
  --bs-breakpoint-sm: 576px;
  --bs-breakpoint-md: 768px;
  --bs-breakpoint-lg: 992px;
  --bs-breakpoint-xl: 1200px;
  --bs-breakpoint-xxl: 1400px;
}

.bg-blue{
  background-color: var(--blue-clr);
}
.bg-gray{
  background-color: var(--bg-lightgrey);
}
.bg-skyblue{
  background-color: var(--bs-sky);
}
.gray{
  color: #666262;
}
.darkgray{
  color:var(--dark-gray);
}
.blue{
  color: var(--blue-clr);
}
.bg-orange{
  background-color: var(--orange-clr);
}




